/* latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url(https://fonts.gstatic.com/s/inconsolata/v18/QldKNThLqRwH-OJ1UHjlKGlZ5qg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  /* Inconsolatazi4-Regular.otf */
}

/* latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Inconsolata Bold'), local('Inconsolata-Bold'), url(https://fonts.gstatic.com/s/inconsolata/v18/QldXNThLqRwH-OJ1UHjlKGHiw71p5_w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  /* Inconsolatazi4-Bold.otf */
}

@font-face {
  font-family: 'Linux Libertine O';
  src: url('/fonts/LinLibertine_R.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Linux Libertine O';
  src: url('/fonts/LinLibertine_RI.otf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Linux Libertine O';
  src: url('/fonts/LinLibertine_RB.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Linux Libertine Capitals O';
  src: url('/fonts/LinLibertine_I.otf');
  font-weight: normal;
  font-style: normal;
}

/* Linux Biolinum O */

@font-face {
  font-family: 'Linux Biolinum O';
  src: url('/fonts/LinBiolinum_R.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Linux Biolinum O';
  src: url('/fonts/LinBiolinum_RI.otf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Linux Biolinum O';
  src: url('/fonts/LinBiolinum_RB.otf');
  font-weight: bold;
  font-style: normal;
}

html * {
    font-family: 'Linux Libertine O', serif;
}

body { margin: 5%; text-align: justify; font-size: medium; counter-reset: exercise;}
code { font-family: Inconsolata; monospace; }
h1 {
    text-align: left;
    font-weight: bolder;
    padding-bottom: 1rem;
    font-family: 'Linux Biolinum O', sans serif;
}
h2 {
    text-align: left;
    font-weight: bolder;
    padding-bottom: 1rem;
    font-family: 'Linux Biolinum O', sans serif;
}
h3 {
    text-align: left;
    font-weight: bolder;
    padding-bottom: 1rem;
    font-family: 'Linux Biolinum O', sans serif;
}
h4 {
    text-align: left;
    font-weight: bolder;
    padding-bottom: 1rem;
    font-family: 'Linux Biolinum O', sans serif;
    counter-increment: exercise;
    font-size: 1.05em; }
h4:after {
    content: " " counter(exercise);
}
h4 > span.header-section-number { display: none; }
h5 > span.header-section-number { display: none; }
h5 { 
    text-align: left; 
    font-size: 1.03em;
}
h6 { text-align: left; }
h1.title { }
h2.author { }
h3.date { }
nav#toc ol,
nav#landmarks ol { padding: 0; margin-left: 1em; }
nav#toc ol li,
nav#landmarks ol li { list-style-type: none; margin: 0; padding: 0; }
a.footnote-ref { vertical-align: super; font-size: 0.80em;}
em, em em em, em em em em em { font-style: italic;}
em em, em em em em { font-style: normal; }
code{ white-space: pre-wrap; }
span.smallcaps{ font-variant: small-caps; }
span.underline{ text-decoration: underline; }
q { quotes: "“" "”" "‘" "’"; }
div.column{ display: inline-block; vertical-align: top; width: 50%; }
section.footnotes{ font-size: 0.80em; }
