/* Linux Libertine O */

@font-face {
  font-family: 'Linux Libertine O';
  src: url('../fonts/linlib-r-subset.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Linux Libertine O';
  src: url('../fonts/linlib-ri-subset.woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Linux Libertine O';
  src: url('../fonts/linlib-rb-subset.woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Linux Libertine Capitals O';
  src: url('../fonts/linlib-as-subset.woff');
  font-weight: normal;
  font-style: normal;
}

/* Linux Biolinum O */

@font-face {
  font-family: 'Linux Biolinum O';
  src: url('../fonts/linbio-r-subset.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Linux Biolinum O';
  src: url('../fonts/linbio-ri-subset.woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Linux Biolinum O';
  src: url('../fonts/linbio-rb-subset.woff');
  font-weight: bold;
  font-style: normal;
}

/* Inconsolata */

@font-face {
  font-family: 'Inconsolata';
  src: url('../fonts/incons-r-subset.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('../fonts/incons-ri-subset.woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('../fonts/incons-rb-subset.woff');
  font-weight: bold;
  font-style: normal;
}

/* To display subscripts and angle brackets that are missing in Inconsolata */
@font-face {
    font-family: 'DejaVu Sans Mono';
    src: url('../fonts/dejamono-r-subset.woff');
    font-weight: normal;
    font-style: normal;
}

/* Computer Modern math font for extended symbols */
/* (Figure 3.33 uses this for integral sign) */

@font-face {
  font-family: 'jsMath-cmex10';
  src: url('../fonts/jsMath-cmex10-subset.woff');
  font-weight: normal;
  font-style: normal;
}

/* STIX fonts */

@font-face {
  font-family: 'STIXSizeOneSym';
  src:url('../fonts/STIXSizeOneSym-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'STIXSizeTwoSym';
  src:url('../fonts/STIXSizeTwoSym-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'STIXSizeThreeSym';
  src:url('../fonts/STIXSizeThreeSym-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'STIXSizeFourSym';
  src:url('../fonts/STIXSizeFourSym-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'STIXSizeFiveSym';
  src:url('../fonts/STIXSizeFiveSym-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'STIXIntegralsD';
  src:url('../fonts/STIXIntegralsD-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: STIXGeneral;
  src:url('../fonts/STIXGeneral-Regular-subset.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: STIXGeneral;
  src:url('../fonts/STIXGeneral-Italic-subset.woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: STIXGeneral;
  src:url('../fonts/STIXGeneral-Bold-subset.woff');
  font-weight: bold;
  font-style: normal;
}

/* A few arrows for navigation */

@font-face {
  font-family: 'DejaVu-Arrows';
  src:url('../fonts/dejasans-b-arrows.woff');
  font-weight: bold;
  font-style: normal;
}

body {
    margin: 5%;
    text-align: justify;
    font-size: medium;
    counter-reset: exercise;
    font-family: 'Linux Libertine O', serif;
}
div.sourceCode { font-family: Inconsolata; font-size: small; }
code.sourceCode { font-family: Inconsolata; font-size: small; }
g { font-family: Inconsolata; }
pre { font-family: Inconsolata; monospace; font-size: small; }
h1 {
    text-align: left;
    font-weight: bolder;
    padding-bottom: 1rem;
    font-family: 'Linux Biolinum O', sans serif;
}
h2 {
    text-align: left;
    font-weight: bolder;
    padding-bottom: 1rem;
    font-family: 'Linux Biolinum O', sans serif;
}
h3 {
    text-align: left;
    font-weight: bolder;
    padding-bottom: 1rem;
    font-family: 'Linux Biolinum O', sans serif;
}
h4 {
    text-align: left;
    font-weight: bolder;
    padding-bottom: 1rem;
    font-family: 'Linux Biolinum O', sans serif;
    counter-increment: exercise;
    font-size: 1.05em; }
h4:after {
    content: " " counter(exercise);
}
h4 > span.header-section-number { display: none; }
h5 > span.header-section-number { display: none; }
h5 { 
    text-align: left; 
    font-size: 1.03em;
}
h6 { text-align: left; }
h1.title { }
h2.author { }
h3.date { }
nav#toc ol,
nav#landmarks ol { padding: 0; margin-left: 1em; }
nav#toc ol li,
nav#landmarks ol li { list-style-type: none; margin: 0; padding: 0; }
a.footnote-ref { vertical-align: super; font-size: 0.80em;}
em, em em em, em em em em em { font-style: italic;}
em em, em em em em { font-style: normal; }
code{ white-space: pre-wrap; }
span.smallcaps{ font-variant: small-caps; }
span.underline{ text-decoration: underline; }
q { quotes: "“" "”" "‘" "’"; }
div.column{ display: inline-block; vertical-align: top; width: 50%; }
section.footnotes{ font-size: 0.80em; }
