<div class="chapter-content">
    <div class="chapter-title">
        Structure and Interpretation of Computer Programs
    </div>
    <div class="chapter-text" >
        <%= raw @preface_html %>
        <h2>Content</h2>
        <div class="nav-index">
            <% Chapter.roots.all.order(:order).each do |chapter| %>
                <%= content_links(chapter, "nav-index", "index").html_safe %>
            <% end %>
        </div>
    </div>

</div>
<!--
<%= javascript_tag "var chapter_id = 1;" %>
-->
