
<div class="chapter-content">

  <div class="chapter-text" >
    <%= raw @preface_html %>

    <TABLE class="tight">
	<TD  class="tight" width="70%" valign="top" align="right">
          <img class="tight" src="chapters/img_javascript/sicp.png"
	       height="auto" width="100%">
	</TD>
	<TD  class="tight" width="30%" valign="top" align="left">
	  <div class="title-text-EDITION">
	    <span class="title-text-EDITION">Mobile-friendly Web Edition</span>
	  </div>
	  <span style="vertical-align:-77%"/>
	  <BR/>
	  <div class="title-text-ALSO">
	    <span class="title-text-ALSO">also available</span><BR/>
	  </div>
	  <div class="title-text-OTHEREDITIONS">
	    <span class="title-text-OTHEREDITIONS">
	  <a href="https://sicp.comp.nus.edu.sg/sicpjs.pdf">PDF edition</a></span>
	  </div>
	  <div class="title-text-OTHEREDITIONS">
	    <span class="title-text-OTHEREDITIONS">
	  <a href="https://sicp.comp.nus.edu.sg/sicp.epub">E-book edition</a></span>
	  </div>
	</TD>
      </TR>
    </TABLE>
    
    <div class="title-text-ATTRIBUTION">
      <span class="title-text-AUTHOR">Martin Henz and Tobias Wrigstad<br/>with Chan Ger Hean, He Xinyue, Liu Hang, Feng Piaopiao, Jolyn Tan and Wang Qian</span> <span class="title-text-TITLE">adapters to JavaScript</span>
    </div>

    <div class="title-text-ATTRIBUTION">
      <span class="title-text-TITLE">original textbook by</span>      
      <span class="title-text-AUTHOR">Harold Abelson and Gerald Jay Sussman<br/>with Julie Sussman</span> 
    </div>

    <h2>Content</h2>
    <div class="nav-index">
      <% Chapter.roots.all.order(:order).each do |chapter| %>
      <%= content_links(chapter, "nav-index", "index").html_safe %>
      <% end %>
    </div>

    <h2>Licenses</h2>    

    <img width="80" src="https://licensebuttons.net/l/by-sa/4.0/88x31.png">
    This work is licensed under a <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative
      Commons Attribution-ShareAlike 4.0 International License</a>.

    <img width="50" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/License_icon-gpl.svg/200px-License_icon-gpl.svg.png">
    All JavaScript programs in this work are licensed under the 
    <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU General Public License Version 3</a>.
    
  </div>

</div>
<!--
    <%= javascript_tag "var chapter_id = 1;" %>
    -->
