API_KEY=
AI_MODEL=gpt-4o
# maximum number of characters to be sent for translation per batch
MAX_LEN=2000
#Optional
AI_BASEURL=
# maximum number of concurent translations that are allowed
MAX_TRANSLATION_NO=10