/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require codemirror
 */

@import "fonts.css";

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

a {
    color: #212121;
}

a:hover {
    text-decoration: none;
}

html * {
    font-family: 'Linux Libertine O', sans-serif;
}

.card {
    border-left: none;
    border-right: none;
}

.navbar-toggler {
    display: inline-block !important;
    margin-right: 1rem;
}

.sidebar-active {
    background-color: #555 !important;
}

#nav-sidebar {
    background-color: #333333f5;
    position: fixed;
    top: 46px;
    left: 0px;
    height: calc(100vh - 46px);
    width: 320px;
    z-index: 100;
    overflow-y: auto;
}

@media all and (min-width: 1281px) {
    #nav-sidebar {
        width: 20vw;
    }
}

#nav-sidebar .card-block {
    padding-top: 0;
    padding-bottom: 0;
}

#nav-sidebar .card-inverse {
    background-color: #bbacac1f;
}

#nav-sidebar .card-header * {
    color: #fafafa;
}

#nav-sidebar::-webkit-scrollbar {
    display: none;
}

.nav-index .card {
    border-bottom: none;
}

.nav-index .card-block {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar {
    flex-direction: row;
}

.navbar-brand-short {
    display: inline;
}

.navbar-brand-long {
    display: none;
}

.sidebar-show {
    display: none;
}

.sidebar-hide {
    display: inline;
}

.sidebar-show.collapsed {
    display: inline;
}

.sidebar-hide.collapsed {
    display: none;
}

.index-show {
    display: none;
}

.index-hide {
    display: inline;
}

.index-show.collapsed {
    display: inline;
}

.index-hide.collapsed {
    display: none;
}

@media all and (min-width: 690px) {
    .navbar-brand-short {
        display: none;
    }

    .navbar-brand-long {
        display: inline;
    }
}

/* CSS for changing placeholder color on search input box */

.gsc-control-cse
{
	padding:0px !important;
	border-width:0px !important;
}

form.gsc-search-box,table.gsc-search-box
{
	margin-bottom:0px !important;
}

.gsc-search-box .gsc-input
{
	padding:0px 4px 0px 6px !important;
}

#gsc-iw-id1
{
        height: auto !important;
        padding: 0px !important;
        border-width: 0px !important;
        box-shadow:none !important;
}

#gs_tti50
{
	padding:0px !important;
}

#gsc-i-id1
{
	height:33px !important;
	padding:0px !important;
	background:none !important;
	text-indent:0px !important;
}

.gsib_b
{
	display:none;
}

button.gsc-search-button
{
        display:block;
        width:13px !important;
        height:13px !important;
        border-width:0px !important;
        margin:0px !important;
        padding: 10px 6px 10px 13px !important;
        outline:none;
        cursor:pointer;
        box-shadow:none !important;
        box-sizing: content-box !important;
}

.gsc-branding
{
	display:none !important;
}

.gsc-control-cse,#gsc-iw-id1
{
	background-color:transparent !important;
}

/* Changing placeholder color of search box */
		
#gsc-i-id1::-webkit-input-placeholder
{ 
	/* Chrome */
	color: #FFF;
}

#gsc-i-id1:-ms-input-placeholder
{ 
	/* IE 10+ */
	color: #FFF;
}

#gsc-i-id1::-moz-placeholder
{ 
	/* Firefox 19+ */
	color: #FFF;
	opacity: 1;
}

#gsc-i-id1:-moz-placeholder
{ 
	/* Firefox 4 - 18 */
	color: #FFF;
	opacity: 1;
}

#search-box
{
	width:250px;
	height:33px;
	margin:0 auto;
	background-color: #222;
	border-radius: 2px;
	padding: 0px 0px;
}

button.gsc-search-button
{
	border-left: 1px solid #222 !important;
	background-color:transparent !important;
}

#gsc-i-id1
{
	color:#FFF;
}

.title-text-ATTRIBUTION {
    margin-top: 1.5rem;
    text-align: right;
}

.title-text-AUTHOR::before {
    content: '';
}

.title-text-DATE::before {
    content: '(';
}

.title-text-DATE::after {
    content: ')';
}

.title-text-TITLE::before {
    content: '\2014';
}

.title-text-TITLE {
    font-style: italic;
}

.title-text-EDITION {
    font-weight: bold;
    text-align: right;
    font-size: 100%;
    color: rgb(150, 0, 150);
    background-color: rgb(255, 200, 200);
}

.title-text-ALSO {
    font-weight: normal;
    font-size: 90%;
    text-align: right;
}

.title-text-OTHEREDITIONS {
    font-weight: normal;
    text-align: right;
    background-color: rgb(255, 255, 255);
}

img {
    max-width: 100%;
    height: auto;
}

img.tight {
    margin: 0px 0px;
    border: 0px;
}

table.tight {
    border: 0px;
}

td.tight {
    padding: 0px;
}

.permalink { padding-top: 75px; }

#permalink-msg {
    display: none;
    position: fixed;
    right: 20px;
    top: 125px;
    z-index: 125;
}

.screen {
    position: relative;
}
