// Place all the styles related to the Chapter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

blockquote {
    margin: 18pt auto;
    padding: 13px;
}

body{
    background-color: #ff555ff;
}

kbd.snippet {
    display: block;
    white-space: pre-wrap;
}

/*
exercise::before {
  counter-increment: exercise;
  content: "Exercise " + counter(exercise) + ': ';
  font-weight: bold;
}
*/

exercise {
    display: block;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-style: dashed;
    border-width: thin;
}

div.solution_content {
    padding: 1rem;
    border-style: outset;
    border-width: thin;
}

div.solution_content p {
  margin: 0;
}

div.solution_content pre {
  line-height: 1;
}

footnote {
    display: inline;
}

div.chapter_sign {
    width: auto;  
    height: 0;  
    border-top: none;  
    border-bottom: 24px rgba(0, 0, 0, 0.7) solid;  
    border-left: transparent 30px solid;  
    border-right: none;  
    position: sticky;  
    bottom: 0px;  
    right: 0;  
    color: rgba(256, 256, 256, 0.5);
    float: right;
}

figure {
    margin: 20px auto !important;
    text-align: center;
}

figure > div.snippet {
    margin: 20px auto !important;
    text-align: left;
}

caption {
    margin: 20px auto !important;
    text-weight: bold;
}

h2 {
    margin-top: 2rem !important;
    font-size: 18pt !important;
}

img {
    margin: 10px 5px;
}

reference {
    display: list-item;
}

div.solution_btn {
  text-align: right;
}

button.solution_btn {
  cursor: pointer;
}

:not(figure) > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    line-height: 2;
}

pre {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #aeaeae;
}

pre.prettyprint {
    padding: 0pt;
    padding-left: 2em !important;
}

pre * {
    font-family: 'Inconsolata', monospace !important;
}

quote {
    font-size: inherit;
}

quote::before {
    content: open-quote;
}

quote::after {
    content: close-quote;
}

tt {
    font-family: 'Inconsolata', monospace !important;
}

.caption {
    display: inline;
    font-style: italic;
    padding-right: 1ex;
}

// .caption::before {
//     counter-increment: figure;
//     content:"Figure " counter(figure) ": ";
// }

.chapter-content {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.chapter-content * {
    font-family: 'Linux Libertine O', serif;
}

.chapter-content h1 {
    font-size: 22pt;
    font-weight: bolder;
    padding-bottom: 1rem;
    font-family: 'Linux Biolinum O', sans serif;
}

.chapter-content h2 {
    font-family: 'Linux Biolinum O', sans serif;
    font-weight: bold;
}

.chapter-text * {
    font-size: 16pt;
    line-height: 2;
}

.chapter-text a:hover {
    color: #eeeeee;
}

.chapter-text kbd {
    background: none;
    color: inherit;
    padding-left: 2px;
    padding-right: 2px;
    font-family: 'Inconsolata', monospace;
}

.chapter-text kbd.snippet {
    display: block;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.chapter-text p {
    margin: 0 0 2rem 0;
}

.chapter-text p a {
    text-decoration: underline;
}

.chapter-text ul {
    margin-top: 1rem;
}

.chapter-text-ATTRIBUTION {
    margin-top: 1rem;
    text-align: right;
}

.chapter-text-AUTHOR::before {
    content: ' – ';
}

.chapter-text-DATE::before {
    content: '(';
}

.chapter-text-DATE::after {
    content: ')';
}

.chapter-text-TITLE::before {
    content: ', ';
}

.chapter-text-TITLE {
    font-style: italic;
}

.chapter-title {
    font-family: 'Linux Biolinum O', sans serif;
    font-size: 24pt;
    font-weight: 700;
    padding-bottom: 1rem;
}

.Codemirror pre {
    line-height: 1.15;
    padding: 0;
}

.footnote {
    margin-top: 1rem;
    display: block;
    line-height: 1.15;
}

.footnote * {
    font-size: 10pt !important;
}

.nav .btn {
    /*display: none;*/
}

.pre-prettyprint {
    position: relative;
}

.snippet-ide-link {
    display: none !important;
    position: absolute;
    z-index: 100;
    top: 13px;
    left: 40vw;
}

// After integration with IDE, uncomment these two lines to make the buttons appear
pre:hover + .snippet-ide-link {
    // display: inline !important;
}

.snippet-ide-link:hover {
    // display: inline !important;
}

:not(ref) > .superscript {
    font-variant-position: super;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul > li {
    margin-left: 15px;  
}

/* Prevent nested li's from getting messed up */
ul > li::before {
    content: "—";
    margin-left: -15px;
}

ref > .superscript {
    text-decoration: underline;
}

span.navbar-brand-long a {
    font-size: 14px;
}

div.wip-stamp {
    font-weight: 900;
    font-size: 16pt;
    color: red;
    border: 1px black solid;
    text-align: center;
    display: inline-block;
    padding: 4px 20px 4px 20px;
    margin-left: 10%;
}
