/* Linux Libertine O */
@font-face {
  font-family: 'Linux Libertine O';
  src: url("linlib-r-subset-2ca891d0a3c77919532630108be2153c0ebd6c5d6dd50a4985291517ccfd1add.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Linux Libertine O';
  src: url("linlib-ri-subset-758e855f93382848480ceeacb368f54ec6da5520920667ef8b6748c7fac81c97.woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Linux Libertine O';
  src: url("linlib-rb-subset-99de13d167ea6f5c576c07854184fa9ac3e70f94ea93904285fbcba8ecedae7a.woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Linux Libertine Capitals O';
  src: url("linlib-as-subset-c15e991694c9569e1f2b8c16ff1adb7a13c1d4a3ab7f479c8b8e49ceb0926217.woff");
  font-weight: normal;
  font-style: normal;
}

/* Linux Biolinum O */
@font-face {
  font-family: 'Linux Biolinum O';
  src: url("linbio-r-subset-2af6cb05ff2e194caf1a61f4300f3ebb4fca00bfbe993422aae2f10ade07aa78.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Linux Biolinum O';
  src: url("linbio-ri-subset-b8c9bbd29d34f255d3eb479c9000ac4c55bae79f1509b792b41fbc7449a67e7c.woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Linux Biolinum O';
  src: url("linbio-rb-subset-2fcd618e67a669d9baa52072e27fa3c3f08ac655793ece7a788fa496e3cccac0.woff");
  font-weight: bold;
  font-style: normal;
}

/* Inconsolata LGC */
@font-face {
  font-family: 'Inconsolata LGC';
  src: url("incons-r-subset-a955633415ee5895fdabc806010283947985aa8ffdd4e76a263d1970f7b88279.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inconsolata LGC';
  src: url("incons-ri-subset-3072599fc33ed119513d168009dcee261a7395900e5c6492c0f3892879253070.woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Inconsolata LGC';
  src: url("incons-rb-subset-99fed3a11e97338db2ce6f71fea1aea28b97532ff428c22c4e894c9a71ff8992.woff");
  font-weight: bold;
  font-style: normal;
}

/* To display subscripts and angle brackets that are missing in Inconsolata */
@font-face {
  font-family: 'DejaVu Sans Mono';
  src: url("dejamono-r-subset-363ea14326b52a7b28231dae536c21bbc366a184efd7cdf05c9ea4712137c9e8.woff");
  font-weight: normal;
  font-style: normal;
}

/* Computer Modern math font for extended symbols */
/* (Figure 3.33 uses this for integral sign) */
@font-face {
  font-family: 'jsMath-cmex10';
  src: url("jsMath-cmex10-subset-d3865009872e1bf96eff047a22a3d4e94fdacc3b69c8f8f9bb8ef7113f53c19f.woff");
  font-weight: normal;
  font-style: normal;
}

/* STIX fonts */
@font-face {
  font-family: 'STIXSizeOneSym';
  src: url("STIXSizeOneSym-Regular-9a0ac960d0080fd67cb6dcd42efadaddd2ce11c6cf5f972f7a921a2e15ebf9e4.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'STIXSizeTwoSym';
  src: url("STIXSizeTwoSym-Regular-10e4bab0e8dc97d21b60126e5206710207c364896770a3dca31bbb52f67694ec.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'STIXSizeThreeSym';
  src: url("STIXSizeThreeSym-Regular-db9dfdf0e6d21f878fc4b85f9f47173a2c3e2fb04907a559855b9527fb9be0fc.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'STIXSizeFourSym';
  src: url("STIXSizeFourSym-Regular-cf69567ce2f42a79ebf6be6da209f771ff9e3e58f05c3229e4f0c276f5fbf0e8.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'STIXSizeFiveSym';
  src: url("STIXSizeFiveSym-Regular-299a0c15c89a02ccb2b091b669b138e2e3004ca2f479ff45388ed7f9fd6cb061.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'STIXIntegralsD';
  src: url("STIXIntegralsD-Regular-889027cd937e4fccb778d834afdee88af0e6e5a10fcbbdac6769075635bea449.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: STIXGeneral;
  src: url("STIXGeneral-Regular-subset-5f89b6949d5825d4a0f792efa99e2f0a744eeed5abe6cfa6d8d285fb46e9ec11.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: STIXGeneral;
  src: url("STIXGeneral-Italic-subset-88ba81c7066a68146e602d6b753a15cc02eb4be7d2cbb4e028861e56174a7cbe.woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: STIXGeneral;
  src: url("STIXGeneral-Bold-subset-dd00ae1c082e99f0cef0cea6dcfae44bc4ad32fa0b3a062b1e31d559ae754aac.woff");
  font-weight: bold;
  font-style: normal;
}

/* A few arrows for navigation */
@font-face {
  font-family: 'DejaVu-Arrows';
  src: url("dejasans-b-arrows-8159752bada811e5dcf9eb629a56acf8d01cda6a857c7a885d9a22a60ca604a1.woff");
  font-weight: bold;
  font-style: normal;
}
