pre.prettyprint.no-eval {background-color: #fff; cursor: default;} .prettyprint.no-eval span.kwd{color: #f16e6e;}.prettyprint.no-eval span.lit{color: #56bfa2;}
kbd.snippet {
    background-color: #fff;
    margin-left:1em;
    padding:1ex;
    border-left: 1ex solid white;
}
