pre .str,code .str{color:#65b042}pre .kwd,code .kwd{color:#e28964}pre .com,code .com{color:#aeaeae;font-style:italic}pre .typ,code .typ{color:#89bdff}pre .lit,code .lit{color:#3387cc}pre .pun,code .pun{color:#333}pre .pln,code .pln{color:#333}pre .tag,code .tag{color:#89bdff}pre .atn,code .atn{color:#bdb76b}pre .atv,code .atv{color:#65b042}pre .dec,code .dec{color:#3387cc}

pre.prettyprint,code.prettyprint{background-color:#fff; border: none;}


div.pre-prettyprint > pre.prettyprint {
    border-left: 1ex solid #eee;
}

div.pre-prettyprint:hover > pre.prettyprint {
    border-left: 1ex solid #bbb;
}

pre.prettyprint{
    width:95%;
    margin-left:1em;
    margin-bottom:0pt;
    padding:1ex;
    white-space: pre-wrap;
    border: none;
}

div.pre-prettyprint > pre.prettyprint.no-eval.prettyprinted {
    border-left: 1ex solid white;
}

div.pre-prettyprint:hover > pre.prettyprint.no-eval.prettyprinted {
    border-left: 1ex solid white;
}

div.snippet {
    margin-bottom: 1em;
}

/* div.snippet + div.snippet { */
/*     margin-top: -1em; */
/* } */

ol.linenums{margin-top:0;margin-bottom:0;color:#aeaeae}li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8{list-style-type:none}@media print{pre .str,code .str{color:#060}pre .kwd,code .kwd{color:#006;font-weight:bold}pre .com,code .com{color:#600;font-style:italic}pre .typ,code .typ{color:#404;font-weight:bold}pre .lit,code .lit{color:#044}pre .pun,code .pun{color:#440}pre .pln,code .pln{color:#000}pre .tag,code .tag{color:#006;font-weight:bold}pre .atn,code .atn{color:#404}pre .atv,code .atv{color:#060}}

